.CENTER(@W,@H) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: unit(-@W/2, rem);
  margin-top: unit(-@H/2, rem);
  width: unit(@W, rem);
  height: unit(@H, rem);
}

html {
  font-size: 100px;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: #F4F4F4;
}

.mainBox {
  margin: 0 auto;
  max-width: 750px;
  height: 100%;
  background: #FFF;
}

.cubeBox {
  height: 100%;
  background: url("../images/zf_cubeBg.jpg") no-repeat;
  background-size: cover;

  .tip {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 3.94rem;
    height: .44rem;
  }

  .cube {
    .CENTER(5.1, 5.1);
    /*    position: absolute;
        top: 50%;
        left: 50%;
        margin: -2.55rem 0 0 -2.55rem;
        width: 5.1rem;
        height: 5.1rem;*/
    transform-style: preserve-3d;
    transition: .3s;
    transform: scale(0.6) rotateX(-35deg) rotateY(35deg);

    li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:nth-child(1) {
        transform: translateZ(2.55rem);
      }

      &:nth-child(2) {
        transform: translateZ(-2.55rem) rotateY(180deg);
      }

      &:nth-child(3) {
        transform: translateX(-2.55rem) rotateY(-90deg);
      }

      &:nth-child(4) {
        transform: translateX(2.55rem) rotateY(90deg);
      }

      &:nth-child(5) {
        transform: translateY(-2.55rem) rotateX(90deg);
      }

      &:nth-child(6) {
        transform: translateY(2.55rem) rotateX(-90deg);
      }
    }
  }
}

.detailBox {
  display: none;
  height: 100%;

  .swiper-container {
    height: 100%;
    .swiper-wrapper {
      height: 100%;
      .swiper-slide {
        height: 100%;
        &:nth-child(2) {
          background: #FFF9C1;
        }
        &:nth-child(3) {
          background: #E45454;
        }
        &:nth-child(4) {
          background: #FAC471;
        }
        &:nth-child(5) {
          background: #FBFFE8;
        }
        &:nth-child(6) {
          background: #5975FF;
        }
      }
    }
  }

  .page1 {
    position: relative;

    dl {
      .CENTER(5.4, 7.2);
      /*      position: absolute;
            top: 50%;
            left: 50%;
            width: 5.4rem;
            height: 7.2rem;*/

      dt, dd{
        box-sizing: border-box;
        height:  .6rem;
        line-height: .6rem;
        background: #8FBB4C;
      }

      dt{
        font-size: .36rem;
        color: yellow;
        text-align: center;
      }

      dd{
        border-top: .02rem dashed rgba(255, 255, 255, .3);

        i{
          position: absolute;
          left: .15rem;
          top: 50%;
          margin-top: -.21rem;
          width: .36rem;
          height: .42rem;
          font-size: .2rem;
          color: #FFF;
          font-style: normal;
          text-align: center;
          line-height: .42rem;
          background: url("../images/zf_outline.png") no-repeat;
          background-size: 100% 100%;
        }

        a{
          display: block;
          margin-left: .66rem;
          font-size: .28rem;
          color: #555;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  .page2{
    position: relative;

    .title{
      opacity: 0;
      position: absolute;
      left: 0;
      top: .8rem;
      width: 100%;
      height: .9rem;
      line-height: .9rem;
      text-align: center;
      font-size: .6rem;
      font-weight: normal;
    }

    img{
      .CENTER(1,1);

      &:nth-of-type(1){
        .CENTER(1.32, 1.7);
      }
    }
  }


#page2{
  .title{
    animation: bounceInLeft 1s both;
  }

  img{
    &:nth-of-type(1){
      animation: shake 1s both;
    }

    &:nth-of-type(2){
      margin-top: -2.9rem;
    }

    &:nth-of-type(3){
      margin-top: -1.7rem;
      margin-left: 1.5rem;
    }

    &:nth-of-type(4){
      margin-top: .7rem;
      margin-left: 1.5rem;
    }

    &:nth-of-type(5){
      margin-top: 1.9rem;
    }

    &:nth-of-type(6){
      margin-top: .7rem;
      margin-left: -2.5rem;
    }

    &:nth-of-type(7){
      margin-top: -1.7rem;
      margin-left: -2.5rem;
    }

    &:not(:nth-of-type(1)){
      transition: .5s;
      animation: tada 1s .5s infinite both;
    }
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}




